<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>

        <!--<img src="img/logo.png" alt="logo">-->

        <main>
            <div class="jumbotron">

                <h1>Welcome to <%= title %> Page</h1>
            </div>

            <div class="container">
                <img src="img/profile.jpg" alt="Profile Picture" class="rounded-circle img-fluid m-4 px-3"
                    style="width: 300px;">
                <p>Hello, I'm <strong>Ka Wai</strong></p>
                <p>I'm a <strong>Front-end Developer</strong> with a passion for creating elegant and user-friendly web
                    experiences. Currently studying Software Engineering.</p>

                <a href="/about" class="btn btn-primary">Learn More About Me</a>
                <a href="/projects" class="btn btn-secondary">View My Projects</a>

            </div>

        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>


                <!-- File: assignment1, Ka Wai Yim (300756473), 4/10/2023-->