<%- include ('partials/header.ejs') %>
    <%- include ('partials/main_nav.ejs') %>


        <main class="ontainer">
            <div class="jumbotron">

                <h1>Welcome to <%= title %> Page</h1>
            </div>

            <div class="container">

                <h1 class="mt-5">My Recent Projects</h1>
                <div class="row mt-4">

                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="img/3d-printing.png" class="card-img-top" alt="Project 1">
                            <div class="card-body">
                                <h5 class="card-title">3D Printing - Chess</h5>
                                <p class="card-text">
                                    Role: Designer
                                </p>
                                <p class="card-text">Outcome: Crafted a unique 3D-printed chess set that blends
                                    traditional craftsmanship with modern design, receiving acclaim for its artistry and
                                    precision.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Project 2 Card -->
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="img/abc-cover.png" class="card-img-top" alt="Project 2">
                            <div class="card-body">
                                <h5 class="card-title">Redesign Autobody shop's website</h5>
                                <p class="card-text">
                                    Role: Web designer & developer
                                </p>
                                <p class="card-text">Outcome: Redesigned and built a fully functional website with an
                                    improved user interface and enhanced user experience.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Project 3 Card -->
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="img/lyric_poster1.png" class="card-img-top" alt="Project 3">
                            <div class="card-body">
                                <h5 class="card-title">Lyrics Poster</h5>
                                <p class="card-text">
                                    Role: Graphic Designer
                                </p>
                                <p class="card-text">Outcome: Created an evocative poster using iconic lyrics, infusing
                                    art and music into a visually striking design.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%- include ('partials/bottom_nav.ejs') %>
            <%- include ('partials/footer.ejs') %>




                <!-- File: assignment1, Ka Wai Yim (300756473), 4/10/2023-->